body {
  position: relative;
}

section {
  padding: 0.5rem 1.5rem;
}

a {
  padding: 1rem 1.5rem;
}

a:link {
  color: salmon;
  text-decoration: none;
}

a:hover {
  color: mediumturquoise;
  text-decoration: underline mediumturquoise;
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 23px;
}

.origin {
  font-size: 21px;
  padding: 1px;
}

#scroll-button {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
